@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none !important;
}

body {
    overflow-x: hidden;
}

.pattern-grid-lg {
    background-image: linear-gradient(currentColor 1px, transparent 1px), linear-gradient(to right, currentColor 1px, transparent 1px);
    background-size: 50px 50px;
}

.animate-in-from-bottom {
    animation: animate-in-from-bottom 1000ms ease both;
}

@keyframes animate-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
}